@charset "UTF-8";
.productInfo-header>table{
	margin: 0 auto;
}
.productInfo-category{
	margin-left:15%;
	margin-bottom:30px;
	margin-top:30px;
}
.productInfo-category span{
	font-size: 20px;
	font-family: 'Jua', sans-serif;
}
.itemsell{
	font-size:15px;
	font-weight:bold;
	color:lightgray;
}
#itempro{
	font-size:30px;
	font-weight:bold;
	
}
#pur{
	border:1px solid white;
	background:#7151FC;
	color:white;
	width:150px;
	height:50px;
	font-weight:bold;
}

#pur:hover{
    font-weight:bold;
	border:1px solid white;
	background:indigo;
	color:white;
	width:150px;
	height:50px;
}

#insertBasket{
    font-family: 'Nanum Gothic', sans-serif;
    border:0px;
	background:red;
	color:white;
	width:150px;
	height:50px;
	font-weight:bold;
}
#insertBasket:hover{
   font-weight:bold;
    font-family: 'Nanum Gothic', sans-serif;
    border:0px;
	background: orange;
	color:white;
	width:150px;
	height:50px;
	
}
#float1{
width:50px;
height:50px; 
border:3px solid #7151FC; 
border-radius:50px;
}
.content-container{
	height: 100%;
}
.productOne{
	width: 220px;
	height: 250px;
	text-align: center;
	display: inline-block;
	margin: 10px 31px;
}
.productOne:hover{
	border-radius: 5px;
	box-shadow: 3px 3px 5px 7px lightgray;
	cursor: pointer;
}
.productInfo-content>div{
	margin-bottom: 20px;
}

#askList{
	height:200px;
	color:gray;
}
.product-ask{
	width: 800px;
	margin-left: 10%;
}
.ask-content{
	border: 1px solid black;
	text-align: center;
}
.ask-comment{
	height: 100px;
	text-align: center;
	display: none;
	margin-top: 30px;
}

#info_{
	margin-left:13%;
}
#ask_{
	float:right;
	border:1px solid white;
	color:white;
	background-color:#7151FC;
	width:150px;
	height:50px;
}
.table-bordered{
	margin-left:2%;
}
#fontt	{
font-weight:bold;
font-size:20px;
}
#askLeft{
	float: left;
}
#askRight{
	float: right;
}
.productInfo-table tr td:first-of-type {
	width: 250px;
}
.productInfo-table tr td:not(:first-of-type) {
	text-align: center;
}
.productInfo-table-text{
	width: 400px;
	height: 250px;
}
.productInfo-table-text tr td:first-child{
	width: 150px; 
}
.productInfo-table-text tr:last-of-type td{
	padding-left: 40px;
}